#header {
  height: 50px;
  background-color: red;
  margin-top: -18px;
  overflow: hidden;
}
#header .logo {
  padding: 10px;
}
#header .logo a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  color: white;
}
#header .hm h4 {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  margin: 0;
}
#header .app {
  padding: 8px;
}
#header .app a {
  height: 100%;
}
#header .app a img {
  max-height: 34px;
}
#product-list-comment .reorder {
  height: 240px;
  height: 42px;
  line-height: 40px;
  background-color: white;
  font-size: 14px;
  padding: 0 10px;
}
#product-list-comment .reorder .category_nav {
  width: 770px;
}
#product-list-comment .reorder .category_nav li {
  display: inline-block;
}
#product-list-comment .reorder .category_nav li a {
  display: inline-block;
  padding: 0 10px;
}
#product-list-comment .product-list {
  border-bottom: none;
}
#product-list-comment .product-list li {
  height: 170px;
  margin: 6px auto;
  background-color: white;
  position: relative;
}
#product-list-comment .product-list li .b-img {
  position: absolute;
}
#product-list-comment .product-list li .b-img img {
  display: block;
  height: 150px;
  width: 150px;
  margin: 10px;
}
#product-list-comment .product-list li .pro-info {
  margin-left: 170px;
}
#product-list-comment .product-list li .pro-info .pro_title {
  height: 90px;
  font-size: 18px;
  padding-top: 10px;
  overflow: hidden;
}
#product-list-comment .product-list li .pro-info .pro_title .span1 {
  color: red;
  display: block;
  padding-top: 6px;
}
#product-list-comment .product-list li .pro-info .pro_title .span1 del {
  font-size: 12px;
  color: #666;
  padding: 5px;
}
#product-list-comment .product-list li .pro-info .bar {
  height: 30px;
  width: 150px;
  padding: 5px;
}
#product-list-comment .product-list li .pro-info .bar i,
#product-list-comment .product-list li .pro-info .bar b {
  width: 100%;
}
#product-list-comment .product-list li .pro-info .other a:nth-of-type(2) {
  border: 1px dashed #666;
  padding: 8px;
  margin: 5px;
  display: inline-block;
}
#product-list-comment .product-list li .pro-info .other a:nth-of-type(3) {
  float: right;
  background-color: red;
  color: white;
  margin: 5px 10px;
  padding: 8px;
  border-radius: 2px;
}
#product-list-comment .product-page {
  height: 60px;
}
#product-list-comment .product-page li input {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}
#product-list-comment .product-page li select {
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  background-color: white;
  border-radius: 5px;
}
#product-list-comment .product-page li select option {
  text-align: center;
}
#footer {
  background-color: #f1f1f1 ;
}
#footer .more {
  padding: 10px;
  background-color: #efefef;
}
#footer .more a {
  padding: 5px;
  font-size: 16px;
  background-color: white;
  display: block;
  text-align: center;
  border-radius: 5px;
}
#footer .pinpai {
  display: block;
  background-color: #ff841d;
  height: 40px;
  margin: 10px 0;
}
#footer .pinpai span {
  float: left;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  margin-left: 12px;
  font-weight: 700;
}
#footer .pinpai img {
  float: right;
  height: 24px;
  margin: 8px 12px;
}
#footer .f_login {
  height: 40px;
}
#footer .f_login li {
  line-height: 40px;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-left: none;
}
#footer .f_login li:last-child {
  border-right: none;
}
#footer .footer {
  text-align: center;
  background-color: #efefef;
  font-size: 12px;
  padding: 15px 0;
}
